
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NextStep</title>
  </head>
  <body>
    {% extends 'base.html' %} 
    {% block content %}
    <h1>About the Idea List</h1>
    <hr />
    <p class="page-content">
      Welcome to my website designed to inspire your creativity and innovation.
      Here, you can explore and develop your ideas into potential business opportunities.
      Start by giving your idea a name, then collaborate with companies to bring it to life.
      Share details, sketches, or images of your concept, and rate its complexity from 1 (easy) to 10 (challenging).
    </p>
    {% endblock %}
  </body>
</html>
