
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NextStep</title>
  </head>
  <body>
    {% extends 'base.html' %} 
    {% block content %}
    <h1>About the Idea List</h1>
    <hr />
    <p class="page-content">
     This website is for whenever you get those thoughts of creativity about how to improve something. 
     This has the potential to capitalize on your ideas. 
     First you would come up with the name of the idea then get the company to potentially work with them.
    The details of it and if you have a sketch or image of the idea an option to put it up as well as the difficulty scale 1 being easy to 10 being hardest to implement.
    </p>
    {% endblock %}
  </body>
</html>
