html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(209, 200, 200);
}

.navbar {
  background-color: #e68c8c;
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.logo-container {
  flex-shrink: 0; 
}

.links-container {
  flex-grow: 1;
  text-align: right;
  
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.links li {
  margin: 0 15px;
}

.links a, #logout-form button {
  color: rgb(16, 14, 14);
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo-container img {
  padding: 10px;
  background-color: rgb(147, 190, 228);
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}
