{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/ideas/idea-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="cat-container">
  <div class="cat-img">
    {%if idea.img%}
    <img src="{{ idea.img.url }}" alt="Image of {{ idea.name }}" width= 300px/>
    {% endif %}
  </div>
  <div class="cat-details">
    <h1>Name of Idea: {{ idea.name }}</h1>
    <h2>Company: {{ idea.company }}</h2>
    <p>Details: {{ idea.details }}</p>
    <p> Difficulty: {{idea.difficulty}}</p>
    <div class="cat-actions">
    <a href="{% url 'idea-update' idea.id %}" class="btn warn">Edit</a>
    <a href="{% url 'idea-delete' idea.id %}" class="btn danger">Delete</a>
  </div>
</section>
{% endblock %}
