{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/ideas/idea-index.css' %}"/>
{% endblock %} 

{% block content %}
<section class="page-header">
  <h1>Idea List</h1>
</section>

<section class="container-index">
  {% for idea in ideas %}
    <div class="card">
      <a href="{% url 'idea-detail' idea.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if idea.img %}
              <img src="{{ idea.img.url }}" alt="{{ idea.name }}" />
            {% else %}
              <img src="{% static 'images/bgremove.png' %}"/> 
            {% endif %}
          </div>
          <h2 class="card-title"><strong>Name: </strong> {{ idea.name }}</h2>
          <p><strong>Company: </strong> {{ idea.company }}</p>
          <p><strong>Details: </strong> {{ idea.details }}</p>
          <p><strong>Difficulty: </strong>{{ idea.difficulty }}</p>
        </div>
      </a>
    </div>
  {% endfor %} 
</section>
{% endblock %}
